

/* Header  */

.header {
    border-bottom: 1px dotted #ccc;
}
.header__top {
    height: 40px;
    background-color: var(--header-background-color);
}

.header__left, .header__right {
    display: inline-block;
    color: #ccc;
    line-height: 40px;
    font-size: 1.4rem;
    list-style-type: none;
}

.header__left li {
    display: inline;
}

.header__left li a {
    color: #ccc;
    padding: 15px;
}

.header__right {
    float: right;
}

.header__menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.header__menu-item {
    display: inline-block;
}

.header__menu-item a {
    padding: 5px 15px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var( --text-grey-color);
    font-weight: 600;
}

.header__menu-item a:hover {
    color: var(--orange-color);
}

.header__menu-item--active a {
    color: var(--orange-color);

}

.btn-primary a {
    color: var( --text-color)
}

/* Slider  */
.sliders {
    height: 500px;
}

.slider-item {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.slider-item-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-item-prev {
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    height: 100%;
    display: flex;
    cursor: pointer;
}

.slider-item-next {
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    height: 100%;
    display: flex;
    cursor: pointer;
}

.slider-item-prev:hover i, .slider-item-next:hover i{
    color: rgb(255, 255, 255);
}

.slider-item-prev i, .slider-item-next i {
    font-size: 30px;
    padding: 0 50px;
    align-self: center;
    color: #ccc;
}

.slider-item__content {
    flex: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-item__content-header {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing:-1px;
    margin: 8px 0;
}

.slider-item__content-text {
    font-size: 1.4rem;
    margin-bottom: 20px;
    
}

.slider-item__content-btn {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    width: 150px;
    border: none;
}

.slider-item__content-indicators {
    list-style-type: none;
    align-self: center;
}

.slider-item__content-indicator-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.slider-item__content-indicator-item--active {
    background-color: #fff;
}

/* Posts  */
/* post advertise  */
.advertise {
    padding: 10px 0;
}

.post-advertise {
    margin-top: 50px;
    /* height: 450px; */
}

.post-advertise__content {
    margin-top: 40px;
}

.post-advertise__content-title-item {
    font-size: 28px;
    color: var(--text-color);
    margin: 5px 0;
}

.post-advertise__content-title .font-dancing {
    font-size: 33px;
}

.post-advertise__content-btn {
    width: 120px;
    text-align: center;
    background-color: var(--orange-color);
    padding: 10px 10px;
    font-size: 1.4rem;
    color: var(--sub-btn-color);
    font-weight: 600;
    margin-top: 30px;
    display: block;
    text-decoration: none;
    border : 1px solid transparent;
}

.post-advertise__content-btn:hover {
    cursor: pointer;
    background-color: #fff;
    border-color: var(--orange-color);
}

.post-advertise__content-description {
    font-size: 1.4rem;
    color: var(--text-grey-color);
}

.post-advertise__content-description p {
    margin-top: 15px;
    text-align: justify;
}

.post-advertise__content-description .sub-title {
    font-size: 1.8rem;
    margin-top: 20px
}

.post-advertise__img {
    text-align: center;
    display: flex;
    justify-content: center;
}

.post-advertise__img img {
    width: 70%;
    display: inline-block;
    margin-left: 10px;
}

/* Our service */
.our-service {
    margin-top: 50px;
}

.title-session {
    text-align: center;
    margin-bottom: 60px;
}

.title-session .slogan-text {
    color:var(--text-color);
    font-size: 25px;
}

.title-session .font-dancing {
    color:var(--primary-color);
    font-size: 38px;
}



/* Post item default  */
.posts {
    margin-top: 60px;
}

.post-item {
    text-align: center;
}

.post-item__content-header {
    width: 100%;
    display: block;
}


.post-item__content-header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    padding: 15px 0 15px 0;
}

.post-item__content-description,
.post-item__content-time {
    color: var(--text-grey-color);
    font-size: 1.4rem;
    margin-bottom: 15px;
    line-height: 1.5;
}

.post-item__content-post-by {
    color: var(--orange-color);
    font-weight: 500;
    font-size: 1.6rem;
}

.post-item__content-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
}

.post-item__content-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Menus  */ 
.menus {
   margin-top: 60px;
 
}   

.slogan {
    background-color: #3e3e3e;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan--white-bg {
    background-color: #fff;
}

.slogan--white-bg .slogan-text {
    color: var(--text-color);
    font-size: 2.6rem;
}

.suv-slogan-text {
    color: #777777;
    font-size: 1.7rem;
    margin-top: 22px;
    text-align: center;
    padding: 0 200px;
    line-height: 1.6;
}

.orange-color {
    margin: 0 2px;
    color: var(--orange-color);
}

.slogan-phone-number {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 35px;
    font-weight: 600;
}

.slogan--white-bg .font-dancing {
    color: var(--orange-color);
    font-size: 3.2rem;

}

.slogan .font-dancing {
    text-shadow: 0 0 10px #feb51879;
}

.slogan-text {
    font-size: 3.8rem;
    color: #fff;
    align-self: center;
    margin: 5px;
}

.menus-filter {
    position: relative;
}

.menus-filter-navigation {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.menus-filter-navigation-btn {
    color: var(--text-color);
    min-width: 110px;
    font-size: 1.6rem;
    padding: 10px 20px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    background-color: var(--orange-color);
}

.menus-filter-navigation-btn:hover {
    background-color: rgba(254, 181, 24, 0.7);
    cursor: pointer;
}

.menus-filter-navigation-btn--active {
    background-color: #fff;
    border: 1px solid var(--orange-color);
}

/* Menu filter item  */
.menus-item-list {
    margin-top: 45px
}
.menus-filter__item {
    display: flex;
    height: 120px;
    margin-top: 15px;
    justify-content: space-between;
}

.menus-filter__item-img {
    position: relative;
}
 

.menus-filter__item-img-state {
    position: absolute;
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 2px 6px;
    background-color: var(--primary-color)
}

.menus-filter__item-img img {
    height: 100%;
    width: 120px
}

.menus-filter__item-content {
    padding: 10px 0 10px 10px;
    flex: 1;
}

.menus-filter__item-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    
}

.menus-filter__item-info-title {
    font-size: 15px;
    color: var(--text-color);
    font-weight: 600;
}

.menus-filter__item-info-dot {
    flex: 1;
    
    border-bottom: 1px dashed #a7a7a7;
}

.menus-filter__item-info-price {
    font-size: 15px;
    color: var(--text-color);
}

.filter-content-description {
    font-size: 13px;
    color: var(--text-grey-color);
    margin-top: 12px;
}

/* Promotes  */
.promotes {
    margin-top: 50px;
}

.promote-item {
    position: relative;
    overflow: hidden;
    display: block;
}

.promote-item:hover {
    cursor: pointer;
}

.promote-item img {
    width: 100%;
    padding: 0 5px;
    
}

.promote-item__text {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0px 0px 20px #000000;
    transform: translateY(20px);
}

.promote-item:hover .promote-item__text {
    transform: translateY(-50px);
    transition: transform 0.5s;
}

/* Advertise  */
.advertise {
    margin-top: 50px;
}

.advertise-content {
    margin-top: 60px;
}

.advertise-content__opening {
    background-image: url('./../img/opening-background.jpg');
    padding: 28px;
    text-align: center;
    margin-right: 45px;
}


.advertise-content__opening-dot {
    border: 1px dashed #757575;
    padding: 0 15px 25px 15px;
}

.advertise-content__opening-title {
    color: var(--orange-color);
    font-size: 1.4rem;
    margin-bottom: 40px;
    padding: 8px 0;
    height: 50px;
    background-image: url('./../img/opening-title-background.png');
    background-repeat: no-repeat;
    background-position: top center;
}


.advertise-content__opening-content-item {
    font-size: 1.4rem;
    margin-bottom: 25px;
    color: #fff;
}

.advertise-content__opening-content-item p {
    margin: 6px 0;
}

.advertise-content__opening-contract {
    font-size: 2.5rem;
    color: var(--orange-color);
    padding-top: 25px;
    display: block;
}

.advertise-content__item {
    padding: 30px 0;
}

.advertise-content__item + .advertise-content__item {
    border-top: 1px dashed #acacac;
}

.content-item__text {
    margin-top: 25px;
}

.content-item__text-title {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.content-item__text-description {
    font-size: 14px;
    color: var(--text-grey-color);
    margin-bottom: 20px;
}

.content-item__text-link {
    font-size: 15px;
    color: var(--orange-color);
    text-decoration: none;
}

.content-item__text-link:hover {
    color: var(--text-color);
    transition: 0.3s;
}



.content-item__img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.content-item__price {
    line-height: 200px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    text-shadow: 1px 1px 20px #000;
    background-color: rgba(240, 172, 78, 0.3);
    border-radius: 50%;
    opacity: 0;
}

.advertise-content__item:hover .content-item__price {
    opacity: 1;
    transition: 0.3s;
}

.alternation {
   
}

.slogan-quote {
    padding: 40px 140px;
    text-align: center;
}

.slogan-quote i {
    font-size: 35px;
    color: #fff;
    margin-bottom: 15px;
}

.slogan-quote .slogan-text {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 1px;
}

.slogan-quote .font-dancing {
    font-size: 28px;
    margin: 20px 0 60px 0;
    text-shadow: 0px 0px 20px #feb518;
}

/* Our blogs  */
.our-blogs {
    margin-top: 50px;
}

.blog-item {
    text-align: start;
}


.blog-item  .post-item__img {
    display: block;
    width: 100%;
}

.blog-item .post-item__content-header {
    text-align: start;
    text-decoration: none;
    font-weight: 400;
}

.blog-item .post-item__content-header:hover {
    color: var(--orange-color);
    cursor: pointer;
    
}

.blog-item__content-wrap {
    margin-bottom: 15px;;
    border-bottom: 1px dashed #c2c2c2;
}

.blog-item .post-item__content-link {
    color: #757575;
    font-weight: 600;
}

.blog-item .post-item__content-link:hover {
    color: var(--orange-color);
    transition: 0.3s;
}

.blog-item__footer {
    display: flex;
    justify-content:space-between;;
}

.blog-item__footer-likes {
    font-size: 1.4rem;
    color: var(--text-grey-color);
}

.about {
    margin-top: 50px;
}

.about-item__info {
    position: relative;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
}

.about-item__info-content {
    position: absolute;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    background-color: rgba(254, 181, 24, 0.8);
    text-align: center;
    line-height: 260px;
    top: 10px;
    right: 10px;
    opacity: 0;

}

.about-item__info:hover .about-item__info-content {
    opacity: 1;
    transition: 0.3s;
}

.about-item__info-content ul {
    list-style-type: none;
}

.about-item__info-content ul li {
    display: inline-block;
    padding: 10px;

}

.about-item__info-content ul li a i {
    font-size: 18px;
    color: #fff;
}

.about-item__info-description {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: -60px;
}

.about-item__info-description-name {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

.about-item__info-description-position {
    font-size:1.5rem;
    color: var(--orange-color);
    font-weight: 600;
}

/* Footer  */
.footer {
    margin-top: 150px;
}

.footer__bottom {
    background-color: #111;
    height: 90px;
    text-align: center;
    line-height: 90px;
    color: #999;
    font-size: 1.4rem;
}

.footer-content {
    padding: 60px 0;
    background-color: #151515;
}


.footer-content__item-img {
    margin-right: 10px;
}

.footer-content__item-img img {
    display: block;
}

.footer-content__item-wrap {
    padding: 5px;
}

.footer-content__item-text {
    font-size: 1.5rem;
    color: #888888;
    margin-top: 20px;
    line-height: 1.5;
    align-items: justify;
}

.footer-content__item-contract {
    display: flex;
    color: #888888;
    margin-top: 20px;
    font-size: 1.4rem
}

.footer-content__item-contract-text {
    width: 200px;
    line-height: 1.5;
}


.footer-content__item-contract-icon {
    width: 30px;
}

.footer-content__item-contract i {
    font-size: 20px;
}

.footer-content__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #cccccc;
    margin-bottom: 48px
}

.footer-content__title-underline {
    width: 30px;
    height: 1px;
    display: block;
    border-bottom: 1px solid var(--orange-color);
}

.footer-content__body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.footer-content__body-item {
    text-decoration: none;
    font-size: 1.4rem;
    padding : 8px 0;
    color: #888888;
}

.footer-content__body-item:hover {
    color: #fff;
    transition: 0.3s;
}

.footer-content__body-row {
    display: flex;
    align-items: center;
}

.footer-content__body-row + .footer-content__body-row  {
    margin-top: 15px;
}

.footer-content__body-img {
    position: relative;
    width:70px;
    height: 70px;
    border-radius: 50%;
    background-color: #5c5c5c;
}

.footer-content__body-img img {
    width:64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
}

.footer-content__body-img-link {
    position: absolute;
    display: block;
    z-index: 1;
    color: #fff;
    text-align: center;
    line-height: 70px;
    width:70px;
    height: 70px;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgba(254, 181, 24, 0.3);
    opacity: 0;
}

.footer-content__body-row:hover .footer-content__body-img-link {
    opacity: 1;
    transition: 0.3s;
}

.footer-content__body-img-link i {
    font-size: 15px;
}

.footer-content__body-text {
    margin-left: 15px;
}

.footer-content__body-text-title {
    color: #cccccc;
    font-size: 1.4rem;
    text-decoration: none;
}

.footer-content__body-text-date {
    color: #888888;
    font-size: 1.3rem;
    margin-top: 5px;
}

.footer-content__body-wrap {
    display: flex;
}

.footer-content__body-dot {
    flex: 1;
    border-bottom: 1px dashed #888888;
    margin: 0 10px 10px 10px;
}

/* About page  */

/* Chef info  */
.chef-info {
    margin-top: 80px;
    background-image: url('./../img/chef-info-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
} 

.chef-info__content {
    padding: 40px 100px 0 100px;

}

.chef-info__img img {
    width: 100%;
}

.chef-info__content-social {
    list-style-type: none;
    margin-top: 20px;
}

.chef-info__content-social li {
    display: inline-block;
    margin-left: 5px;
    background-color: #333;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
}


.chef-info__content-social li:first-child {
    margin-left: 0px;
}

.chef-info__content-social li a {
    font-size: 15px;
    color: #fff;
    line-height: 30px;
}

/* Contract advertise  */
.contract-advertise {
    background-color: #3e3e3e;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contract-advertise__content {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.contract-advertise__content-text {
    font-size: 3rem;
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
}

.contract-advertise__content-btn {
    width: 180px;
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

/* Reservation page  */
.book-table {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 50px;
}

.book-table__input-list {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.book-table__input-wrap {
    height: 42px;
    width: 275px;
    border: 1px solid #ccc;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    padding: 0 10px;
    
}

.book-table__input-wrap i {
    color: rgb(80, 80, 80);
    font-size: 25px;
}

.book-table__input-wrap input {
    border: none;
    float: left;
    width: 90%;
    height: 100%;
    outline: none;
    color: rgb(80, 80, 80);
}

.book-table__input-wrap input:focus .book-table__input-wrap{
    /* Chua xu ly duoc cho nay */
}

.book-table__input-wrap input[type="date"] {
    width: 100%;
    color: rgb(131, 131, 131);
}

.book-table .post-advertise__content-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 15px 20px;
}

/* Contract page  */
.form-contract__title {
    padding-top: 60px;
}

.form-contract__title .slogan-text {
    color: var(--text-color);
    font-size: 25px;
}

.form-contract__title .font-dancing {
    color: var(--orange-color);
    font-size: 32px;
}

.form-contract__input {
    padding-bottom: 40px;
}

.form-contract__input input {
    padding: 10px 5px;
    width: 100%;
    margin-top: 20px; 
    outline: none;
    color: rgb(51, 51, 51);
}

.form-contract__input textarea {
    padding: 10px;
    width: 100%;
    resize: none;
    margin-top: 20px;
    height: 170px;
    outline: none;
    color: rgb(51, 51, 51);
}

.form-contract__input-btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

/* Menu page  */
.menu-page__slogan {
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.menu-page__slogan .slogan-text{
    color: var(--text-color);
}

.menu-page__slogan .font-dancing {
    color: var(--orange-color);
}

.menus__img-title img {
    width: 200px;
}

/* Blog page */
.blog-slogan {
    background-color: #fff;
}

.blog-slogan .slogan-text {
    color: var(--text-color);
}

.blog-slogan .font-dancing {
    color: var(--orange-color);
}

.blog-item-mt60 + .blog-item-mt60 {
    margin-top: 60px;
}

.form-search {
    position: relative;
}

.form-search input {
    width: 100%;
    padding: 10px 6px;
    border: 1px solid #ccc;

}

.form-search input:focus {
    color: var(--text-color);
    outline: none;
    border-color: var(--orange-color);
}

.form-search button {
    position: absolute;
    background-color: #fff;
    right: 0;
    border: none;
    margin-top: 10px;
    margin-right: 10px;  
}

.form-search button i {
    color: rgb(116, 116, 116);
}

.categories {
    margin-top: 30px;
}

.side-bar-title-session {
    font-size: 18px;
    color: #263e4b;
    margin-bottom: 0px;
    margin-top: 20px;
    display: block;
}

.categories-list {
    list-style-type: none;
}

.categories-item {
    position: relative;
    padding: 20px 10px 0px 15px;
}

.categories-item::before {
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 25px;
    content : "";
    width: 4px;
    height: 4px;
    background-color: #878787;
}

.categories-item a {
    color: #878787;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 5px 0;
}

.categories-item a:hover {
    color: var(--orange-color);
}

.top-rate {
    padding-top: 10px;
}

.top-rate-item {
    list-style-type: none;
}

.top-rate-item {
    display: flex;
    margin-top: 15px;
}

.top-rate-item__content {
    margin-left: 10px;
    color: var(--text-color);
}

.top-rate-item__content-name {
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
}

.top-rate-item__content-price {
    display: flex;
    margin-top: 8px;
}

.top-rate-item__content-price-new {
    font-size: 13px;
}

.top-rate-item__content-price-old {
    font-size: 13px;
    margin-left: 10px;
    text-decoration: line-through;
    color: #878787;
}

.top-rate-item:hover .top-rate-item__content-name{
    color: var(--orange-color);
}

.top-rate-item:hover .top-rate-item__img {
    opacity: 0.7;
}

/* Blog detail  */
.blog-detail {
    padding: 0 20px;
}

.fullwidth {
    width: 100%;
}

.haft-width {
    width: 50%;
    padding: 2px;;
}

.blog-detail__img-wrap {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;;
}

.blog-detail__content h5 {
    font-size: 1.8rem;
    color: var(--text-color);
    margin: 20px 0 20px 0;
}

.blog-detail p {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: var(--text-color);
    line-height: 1.6;
    align-items: justify;
}

.blog-detail__list-element {
    list-style-type: none;
}

.blog-detail__list-element li {
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 22px;
    margin-left: 15px;
}

.blog-detail__list-element li::after {
    position: absolute;
    left: -14px;
    top: 5px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--orange-color);
}

.blog-detail__footer {
    display: flex;
    justify-content: space-between;
}

.blog-detail__strong {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.blog-detail__tag-link {
    color: var(--orange-color);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 5px;
}

.blog-detail__tag-link:hover {
    text-decoration: underline;
}

.blog-detail__footer-right {
    font-size: 1.3rem;
    color: var(--text-color);
}

.blog-detail__comment {
    margin-top: 40px;
}

.blog-detail__comment-title {
    font-size: 1.8rem;color: var(--text-color);
    margin-bottom: 40px;
}

.blog-detail__comment-item {
    display: flex;
    align-items: center;
}

.blog-detail__comment-item + .blog-detail__comment-item {
    margin-top: 30px;
}

.blog-detail__comment .comment-item__img img {
    width: 102px;
    height:102px;
    border-radius: 50%;
}

.blog-detail__comment .comment-item__content {
    margin-left: 20px;
    padding-bottom: 30px;;
    border-bottom: 1px solid #ccc;
}

.wrap-flex {
    display: flex;
    width:100%;
    justify-content: space-between;
    margin: 10px 0;
}

.blog-detail__comment .comment-item__content-name {
    font-size: 1.5rem;
    color: var(--text-color);
}

.date-and-reply {
    font-size: 1.4rem;
    display: flex;
    color: var(--text-color);
  
}

.date-and-reply__date {
    margin-right: 10px;
    color: var(--text-grey-color);
}

.date-and-reply__reply {
    font-weight: 600;
}

.date-and-reply__reply:hover {
    color: var(--orange-color);
    text-decoration: underline;
    cursor: pointer;
}

.date-and-reply__reply i {
    margin-left: 5px;
}

.blog-detail__comment .comment-item__content-text {
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--text-grey-color);
}

/* blog comment */
.blog-detail__send-comment {
    margin-top: 40px;
}

.send-comment__input {
    margin-bottom: 10px;;
}

.send-comment__input-name {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px 0;
}


.send-comment__input-element {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    color: var(--text-color);
    border: 1px solid #ccc;
}

.send-comment__input-element:focus,
.send-comment__input-element--textarea:focus {
    border-color: var(--orange-color);
}

.send-comment__input-element--textarea {
    height: 110px;
    width: 100%;
    resize: none;
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
}

.send-comment__input-btn {
    padding: 10px;
    background-color: var(--orange-color);
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 30px;
    border: 1px solid transparent;
    font-weight: 600;
}

.send-comment__input-btn:hover {
    cursor: pointer;
    border-color: var(--orange-color);
    background-color: #fff;
    color: var(--text-color);
}

/* Shop page */

.shop-page {
    margin-top: 100px;
}

.shop-sidebar {
    padding: 0 15px;
   
}

.prire-filter__bar {
    margin-top: 20px;
    width: 100%;
    height: 4px;
    background-color: #ccc;
    position: relative;
}

.prire-filter__bar input[type=range] {
    position: absolute;
    width: calc(100% + 15px);
    z-index: 2;
    height: 4px;
    margin-top: 10px;
    display: none;
}


.prire-filter__bar-handle-lower,
.prire-filter__bar-handle-higher {
    position: absolute;
    top: -5px;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.prire-filter__bar-handle-lower::after,
.prire-filter__bar-handle-higher::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    top: 2.8px;
    right: 2.9px;
}

.prire-filter__bar-handle-range {
    height: 4px;
    background-color: var(--text-color);
    position: absolute;
}



.price-filter__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #878787;
    margin-top: 20px;;
    align-items: center;
}


.price-filter__bottom-btn {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 5px 15px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 1px solid transparent;
    background-color: var(--orange-color);
}

.price-filter__bottom-btn:hover {
    background-color: #fff;
    border-color: var(--orange-color);
    color: var(--text-color);
}

.shop-page__sort {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding-bottom: 10px;
    color: var(--text-color);
    align-items: center;
    padding: 0 16px;
}

.shop-page__sort-type-wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;

}

.shop-page__sort-type-text {
    min-width: 180px;
}

.shop-page__sort-type-wrap i {
    font-size: 17px;
}

.shop-products__item {
    margin-top: 30px;
    display: block;
    text-decoration: none;
}

.shop-products__item-img {
    position: relative;
    overflow: hidden;
}

.shop-products__item-img img {
    width: 100%; 
    display: block;
}

.shop-products__item-content .item-content__title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
}

.shop-products__item-content .item-content__description {
    margin-top: 10px;
    color: var(--text-grey-color);
    font-size: 1.4rem;
}

.shop-products__item-content .item-content__rating {
    margin-top: 10px;
    font-size: 1.4rem;
    color: var(--text-grey-color);
}

.shop-products__item-content .item-content__rating .has-rating {
    color: var(--orange-color);
}

.shop-products__item--new {
    position: relative;
}

.shop-products__item--new::after {
    position: absolute;
    content: "New";
    padding: 5px 20px;
    font-size: 1.3rem;
    color: var(--text-color);
    border-radius: 2px;
    background-color: var(--orange-color);
    text-align: center;
    top: 5px;
    left: 6px;
}

.shop-products__item-btn {
    position: absolute;
    padding: 10px 5px;
    display: flex;
    width: 120px;
    justify-content: center;
    background-color: var(--orange-color);
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    bottom: 6px;
    right: 3px;
    transform: translateY(calc(100% + 6px));
    transition: 0.3s;
}

.shop-products__item:hover .shop-products__item-btn {
    transform: translateY(0);
}

.shop-products__item-btn-icon {
    margin-right: 5px;
}

/* Shop detail page */

.shop-detail {
    margin-top: 60px;
}

.shop-detail__img-preview img {
    width: 100%;
    display: block;
}

.shop-detail__img-preview-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px
}

.shop-detail__img-preview-item {
    width: calc(25% - 6px);
}

.shop-detail__img-preview-item img {
    width: 100%;
}

.shop-detail__content-name {
    font-size: 20px;
    color: var(--text-color); 
}

.shop-detail__content-rating-icon {
    color: var(--text-color);
}

.shop-detail__content-rating {
    margin-top: 15px;
    font-size: 1.4rem;
    display: flex;
    margin: 10px 0;
}


.shop-detail__content-rating-text {
    margin-left: 15px;
    color: var(--text-grey-color);
    text-decoration: none;
}

.shop-detail__content-rating-icon .has-rating {
    color: var(--orange-color);
}

.shop-detail__content-description {
    color: var(--text-grey-color);
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px dotted rgb(230, 230, 230);
}

.shop-detail__content-price-wrap {
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 2px dotted rgb(230, 230, 230);

}

.shop-detail__content-price {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--orange-color);
    font-weight: 600;
   
}

.shop-detail__content-tax {
    font-size: 15px;
    color: var(--text-grey-color);
    margin-top: 5px;
}

.shop-detail__content-qty {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.shop-detail__content-qty-text {
    font-size: 1.5rem;
    color: var(--text-grey-color);
}

.shop-detail__content-qty-input {
    width: 60px;
    height: 40px;
    padding: 0 6px;
    margin-left: 15px;
    outline: none;
    color: var(--text-color);
    border: 1px solid #ccc;
}

.shop-detail-btn {
    margin-left: 15px;
    width: 100px;
    height: 40px;
    background-color: var(--orange-color);
    text-align: center;
    line-height: 35px;
    font-size: 1.4rem;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s;
}

.shop-detail-btn:hover {
    cursor: pointer;
    background-color: #fff;
    border-color: var(--orange-color);
    color: var(--orange-color);
}

.shop-detail__content {
    padding: 0 15px;
}

.shop-detail__content-qty-input:focus {
    border-color: var(--orange-color);
}

.shop-detail__content-qty-share {
    margin-left: 15px;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: #232346;
    cursor: pointer;
}

.shop-detail__content-review {
    margin-top: 30px;
}

/* ssss */

.shop-detail__content-review .reviews-title {
    display: flex;
}

.shop-detail__content-review .reviews-title__item {
    padding: 10px 20px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
    border-bottom: none;
    cursor: pointer;
}

.shop-detail__content-review .reviews-title__item:hover {
    color: var(--orange-color);
    font-weight: 600;
}

.shop-detail__content-review .reviews-title__item--active {
    color: var(--orange-color);
}

.reviews-title__item + .reviews-title__item {
    border-left: none;
}


.shop-detail__content-review .reviews-content,
.shop-detail__content-review .description {
    padding: 15px;
    border: 1px solid #ccc;
    display: none
}

/* show when click btn */
.shop-detail__content-review .shop-detail__content-review--active {
    display: block;
}

.shop-detail__content-review .description p {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.5;
    color: var(--text-grey-color);
}

.shop-detail__content-review .reviews-content__header {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 0;
}

.shop-detail__content-review .reviews-content__item {
    display: flex;
    margin-top: 5px;
}

.shop-detail__content-review .reviews-content__item-img img {
    width: 80px;
    height: auto;
}

.shop-detail__content-review .reviews-content__item-detail {
    flex: 1;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.shop-detail__content-review .shop-detail__content-rating-icon {
    font-size: 1.4rem
}

.shop-detail__content-review .reviews-content__item-detail-text {
    font-size: 1.4rem;
    color: var(--text-grey-color);
    line-height: 1.6;
    margin-top: 10px;
}

.reviews-content__item + .reviews-content__item {
    margin-top: 20px;
}

.send-comment__input-wrap {
    display: flex;
    margin-top: 5px;
    font-size: 1.4rem;
}

.send-comment__input-rating + .send-comment__input-rating  {
    margin-left: 15px;
}

.send-comment__input-rating:hover,
.send-comment__input-rating--active  {
    color: var(--orange-color);
    cursor: pointer;
}



.shop-detail__content-review .send-comment__input-btn {
    width: 200px;
    margin-left: auto;
}

.shop-detail .slogan {
    background-color: #fff;
}

.shop-detail .slogan-text {
    color: var(--text-color);
}